* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: Arial, sans-serif;
}

body {
  background: url('../assets/app-bg.png') no-repeat center center / cover;
  // height: 100vh;
}